<nav>
    <div class="navbar-dark">
        <a href="/" class="brand-logo center">MLB News </a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
        </ul>
    </div>
</nav>